<li>
	<div class = "authors" >
		<a href="/users/<%= user.id %><%= @ending %>" class="entry">
			<div class = "name">
				<%= user.name %>
			</div>
			<div class = "creds" >
				<%= user.company %>, <%= user.title %>
			</div>
		</a>
	</div>

	<div class = "admin" >
		<% if current_user && current_user.admin? && !current_user?(user) %>
			<div class = "delete">
			    <%= link_to "delete", user, method: :delete,
		                                  data: { confirm: "You sure?" } %>
		    </div>
		<% end %>
	</div>
</li>