<li>
	<div class = "authors" >
		<a href="/users/<%= user.id %><%= @ending %>" class="entry">
			<div class = "name">
				<%= user.name %>
			</div>
			<div class = "creds" >
				<%= user.company %>, <%= user.title %>
			</div>
		</a>
	<% if current_user.admin? && !current_user?(user) %>
	    <%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	<% end %>
	</div>
</li>