<% provide(:title, @user.name) %>
<% @past_url =  request.url %>

<% if signed_in? && current_user?(@user) && current_user.admin? %>
  <div class = "profile">
    <div class ="header" >
      <div class = "edit">
            <%= link_to "Account Settings", edit_user_path(current_user) %>
      </div>
      <div class = "info" >
        <h1>
          <div class = "name" >
            <%= @user.name %>
          </div>
        </h1>
        <h3> 
          <span style="color:red">
            Admin User
          </span>
        </h3>
      </div>
    </div>
</div>
<ul class="users">
  <%= render User.all %>  
</ul>

<% elsif signed_in? && current_user?(@user) && current_user.author? %>
  <div class = "profile">
    <div class ="header" >
      <div class = "edit">
            <%= link_to "Account Settings", edit_user_path(current_user) %>
      </div>
      <div class = "info" >
        <h1>
          <div class = "name" >
            <%= @user.name %>
          </div>
        </h1>
      </div>
      <div class = "newPost">
        <a href="/microposts/new" class="btn btn-success btn-large"><i class="icon-white icon-star-empty"></i> Create Post </a>
      </div>
    </div>

    <div class = "articleType">
      <div class = "draftSide">
        <h4>
          <div class= "drafts">
            <div class = "text">
              Private Drafts (<%= @user.microposts.where(:publish => false).count %>)
            </div>
            <div class = "line">
            </div>
            <div class = "spacer">
            </div>
            <div class = "draftList" >
              <% if @user.microposts.where(:publish => false).any? %>
                <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => false)  %>
              <% else %>
                None yet
              <% end %>
            </div>
          </div>
        </h4>
      </div>
      <div class = "publishedSide">
        <h4>
          <div class= "published">
            <div class = "text">
              Published Posts (<%= @user.microposts.where(:publish => true).count %>)
            </div>
            <div class = "line">
            </div>
            <div class = "spacer">
            </div>
            <div class = "publishedList" >
              <% if @user.microposts.where(:publish => true).any? %>
                <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => true)  %>
              <% else %>
                None yet
              <% end %>
            </div>
          </div>
        </h4>
      </div>
    </div>
  </div>

<% elsif signed_in? && current_user?(@user) && !current_user.author? %>
  <div class = "profile">
    <div class ="header" >
      <div class = "edit">
            <%= link_to "Account Settings", edit_user_path(current_user) %>
      </div>
      <div class = "info" >
        <h1>
          <div class = "name" >
            <%= @user.name %>
          </div>
        </h1>
        <h3>
          <%= @user.company %>, <%= @user.title %>
        </h3>
      </div>
      <div class = "apply">
        <h5>
          Apply to be an author for One Forty <br /><br />
          <a href="mailto:applications@oneforty.co?subject=I want to be an author on One Forty!" class="btn btn-success btn-large"><i class="icon-white icon-envelope"></i> Email Us</a>
        </h5>
      </div>
  </div>
</div>

<% else %>
  <div class = "profile">
    <div class = "header">
      <div class = "topicButton">
        <a href="javascript:;" class="butn">Suggest Topic</a>
      </div>
      <div class = "authorInfo">
        <h1>
          <div class = "name" >
              <%= @user.name %>
          </div>
        </h1>
        <h3>
          <div class = "creds">
              <%= @user.company %>, <%= @user.title %>
          </div>
        </h3>
      </div>
    </div>
    <div class = "listings">
      <div class ="buttons">
        <div class="switchContainer">
          <div class="switch">
            <input type="radio" class="switch-input" name="view" value="articles" id="articles" checked>
            <label for="articles" class="switch-label switch-label-off">Articles</label>
            <input type="radio" class="switch-input" name="view" value="topics" id="topics">
            <label for="topics" class="switch-label switch-label-on">Topics</label>
            <span class="switch-selection"></span>
          </div>
        </div>
        <div class = "filler">
          <p></p>
        </div>
      </div>

      <div class = "writtenArticles">
        <% if @user.microposts.any? %>
          <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => true) %>
        <% else %>
          No articles written yet.
        <% end %>
      </div>

      <div class = "comments">
        <% comments_for_author = Comment.where(:author_id => @user.id) %>
        <% if comments_for_author.any? %>
          <%= render partial: 'shared/comment', collection: comments_for_author %>
        <% else %>
          No topic suggestions yet.
        <% end %>
      </div>

      <div class = "suggest">
        <% if signed_in? %>
          <%= render partial: 'shared/comment_form' %>
        <% else %>
          Please login to submit topic suggestions!
        <% end %>  
      </div>
    </div>
  </div>
<% end %>