<% provide(:title, @user.name) %>

<div class = "profile">
  <div class = "name" >
    <%= @user.name %>
  </div>
  <div class = "creds">
    <%= @user.company %>, <%= @user.title %>
  </div>
  <div class = "edit">
    <% if signed_in? && current_user?(@user) %>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <% end %>
  </div>
  <div class = "listings">
    <% if @user.microposts.any? %>
      <%= render partial: 'shared/micropost', collection: @microposts %>
    <% else %>
      No articles written yet.
    <% end %>
  </div>
</div>