<% provide(:title, @user.name) %>

<% if signed_in? && current_user?(@user) %>
  <div class = "profile">
    <div class ="header" >
      <div class = "edit">
            <%= link_to "Account Settings", edit_user_path(current_user) %>
      </div>
      <div class = "info" >
        <h1>
          <div class = "name" >
            <%= @user.name %>
          </div>
        </h1>
      </div>
      <div class = "newPost">
        <a href="/microposts/new" class="btn btn-success btn-large"><i class="icon-white icon-star-empty"></i> Create Post </a>
      </div>
    </div>

    <div class = "articleType">
      <div class = "draftSide">
        <h4>
          <div class= "drafts">
            <div class = "text">
              Private Drafts (<%= @user.microposts.where(:publish => false).count %>)
            </div>
            <div class = "line">
            </div>
            <div class = "spacer">
            </div>
            <div class = "draftList" >
              <% if @user.microposts.where(:publish => false).any? %>
                <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => false)  %>
              <% else %>
                None yet
              <% end %>
            </div>
          </div>
        </h4>
      </div>
      <div class = "publishedSide">
        <h4>
          <div class= "published">
            <div class = "text">
              Published Posts (<%= @user.microposts.where(:publish => true).count %>)
            </div>
            <div class = "line">
            </div>
            <div class = "spacer">
            </div>
            <div class = "publishedList" >
              <% if @user.microposts.where(:publish => true).any? %>
                <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => true)  %>
              <% else %>
                None yet
              <% end %>
            </div>
          </div>
        </h4>
      </div>
    </div>
  </div>

<% else %>
  <div class = "profile">
    <h1>
      <div class = "name" >
          <%= @user.name %>
      </div>
    </h1>
    <h3>
      <div class = "creds">
          <%= @user.company %>, <%= @user.title %>
      </div>
    </h3>
    <div class = "listings">
      <div class ="heading">
        Articles by this author ( <%= @microposts.where(:publish => true).count  %>  total )
      </div>
      <% if @user.microposts.any? %>
        <%= render partial: 'shared/micropost', collection: @microposts.where(:publish => true) %>
      <% else %>
        No articles written yet.
      <% end %>
    </div>
  </div>
<% end %>