<div class="comment">
 	<div class="suggestion">"<%= comment.content %>"</div>
 	<div id = "voteUp_<%= comment.id %>" class = "voteUp">
	 	<%= link_to " ", increase_path(:id => comment.id) %>
	</div>
	<div id = "voteUpEmpty_<%= comment.id %>" class = "voteUpEmpty" style = "display:none">
	</div>
 	<div class="votes"> <%= comment.vote %> </div>
	<% if current_user && (current_user.admin? || (current_user.id == comment.author_id) || (current_user.id == comment.user_id)) %>
		<div class = "delete">
		    <%= link_to "delete", comment, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	    </div>
	<% end %>
</div>