<div class="post">
	<a href="/microposts/<%= micropost.id %><%= @ending %>" class="profile_post">
	 	<div class="title"><%= micropost.title %></div>
	 	<div class="subtitle"> <%= micropost.subtitle %></div>
	 	<div class="date"> Posted <%= time_ago_in_words(micropost.created_at) %> ago </div> 
	</a>
</div>

