
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class = "newPost" >
  <div class = "author_info">
    <div class = "author_name">
      <%= current_user.name %>
    </div>
    <div class = "author_creds">
      <%= current_user.company %>, <%= current_user.title %>
    </div>
  </div>
  <div class = "heading">
    <div class = "articleTitle">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class = "articleSubtitle">
      <%= f.text_field :subtitle, placeholder: "Subtitle" %>
    </div>
  </div>
  <div class="newWriting" style="wrap: virtual; white-space: pre;">
    <%= f.text_area :content, placeholder: "Once upon a time..." %>
  </div>
</div>
<div class = "other">
  <div class ="radio1">
    <%= f.radio_button(:publish, :false, checked: true) %> Draft
  </div>
  <div class ="radio2">
    <%= f.radio_button(:publish, :true) %> Publish
  </div>




  <div class ="field" style="display: none;">
    <%= f.text_field :author, :value => current_user.name %>
  </div>
  <div class ="field" style="display: none;">
    <%= f.text_field :job, :value => current_user.title %>
  </div>
  <div class ="field" style="display: none;">
    <%= f.text_field :company, :value => current_user.company %>
  </div>
  <div class = "submit">
    <%= f.submit "Save", class: "btn btn btn-primary" %>
  </div>
</div>
<% end %>