<% provide(:title, @post) %>

<%= link_to "Post", micropost_path %>
<li>
  <span class="title"><%= @post.title %></span>
  <span class="subtitle"><%= @post.subtitle %></span>
  <span class="content"><%= @post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span>
</li>