<% provide(:title, @post) %>
<% @past_url =  request.url %>

<div class = "article" >
	<div class = "author_info">
		<div class = "author_name">
			<%= @post.author %>
		</div>
		<div class = "author_creds">
			<%= @post.company %>, <%= @post.job %>
		</div>
	</div>
	<div class = "heading">
		<div class = "article_title">
			<%= @post.title %>
		</div>
		<div class = "article_subtitle">
			<%= @post.subtitle %>
		</div>
	</div>
	<div class = "content">
		<div class = "writing" >			
			<%= @post.content %>
		</div>
		<div class = "article_timestamp">
			Posted <%= time_ago_in_words(@post.created_at) %> ago.
		</div>
	</div>
</div>