<% provide(:title, @post.title+", " +@post.author) %>
<% @past_url =  request.url %>
<% @author = User.find_by id: @post.user_id %>

<div class = "newPost" >
	<div class = "author_info">
		<div class = "author_name">
			<a href="/users/<%= @post.user_id %><%= @ending %>">
				<%= @author.name %>
			</a>
		</div>
		<div class = "author_creds">
			<%= @author.company %>, <%= @author.title %>
		</div>
	</div>
	<div class = "heading">
		<% if current_user && (current_user.id == @post.user_id) %>
			<div class= "editPost" >
				<a href="/microposts/<%= @post.id %>/edit<%= @ending %>" class="profile_post">
					Edit
				</a>
				        |       
				<%= link_to "Delete", @post, method: :delete,
	                                  data: { confirm: "You sure?" } %>
			</div>
		<% end %>
		<div class = "article_title">
			<%= @post.title %>
		</div>
		<div class = "article_subtitle">
			<%= @post.subtitle %>
		</div>
	</div>
	<div class = "content" style="white-space: pre-line;">
		<div class = "writing" >		
			<%= @post.content %>
		</div>
		<div class = "article_timestamp">
			Posted on <%= @post.updated_at.strftime("%B %d, %Y") %>
		</div>
	</div>

	<div class = "postFooter" id ="postFooter">
	    <div class ="buttonsView">
	        <div class="switchContainerView">
	          <div class="switchView">
	            <input type="radio" class="switch-input" name="view" value="topicsView" id="topicsView" checked>
	            <label for="topicsView" class="switch-label switch-label-off">Top 5</label>
	            <input type="radio" class="switch-input" name="view" value="suggestTopic" id="suggestTopic">
	            <label for="suggestTopic" class="switch-label switch-label-on">Suggest</label>
	            <span class="switch-selection"></span>
	          </div>
	        </div>
	        <div class = "filler">
	          <p></p>
	        </div>
	    </div>
	    <div class = "topicArea">
		    <div class = "top5" id = "top5">
		        <% author_comments = Comment.where(:author_id => @post.user_id).limit(5) %>
		        <% if author_comments.any? %>
		    		<%= render partial: 'shared/comment', collection: author_comments %>
		    	<% else %>
		    		No topic suggestions yet.
		    	<% end %>
		    </div>
	        <div class = "suggest">
		        <% if signed_in? %>
		            <%= render partial: 'shared/comment_form2' %>
		        <% else %>
		        	Please login to submit topic suggestions!
		        <% end %>  
	        </div>
		</div>
	</div>
</div>