<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	<% if @past_url && @past_url.include?("?") %>
		<% length = @past_url.size() %>
		<% position = @past_url.index('?') %>
		<% @ending = @past_url.slice(position..length) %>
	<% end %>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46301899-2', 'oneforty.co');
	  ga('send', 'pageview');

	</script>
	</head>
	<body>
		<div class="container">
		  	<div class="sixteen columns">
		  		<div class ="nonFooter">
				    <div class="one-third column alpha">
				      	<div class="nav">
				      		<%= render 'layouts/logo' %>
				        	<div id="postswrapper">
				        		<% @entries = Micropost.where(:publish => true).paginate(:page => params[:page], :per_page => 6) %>
				        			<%= render @entries %>
				        	</div>
				      		<%= paginate @entries %>
				      	</div>
				    </div>

				    <div class="two-thirds column omega">
					    <div class="yield" id = "yield">

					      	<% flash.each do |key, value| %>
			        			<div class="alert alert-<%= key %>"><%= value %></div>
			      			<% end %>

					      	<%= yield %>

					    </div>
				    </div>
			 	</div>

				<%= render 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>
