<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	<% if @past_url && @past_url.include?("?") %>
		<% length = @past_url.size() %>
		<% position = @past_url.index('?') %>
		<% @ending = @past_url.slice(position..length) %>
	<% end %>
	</head>
	<body>
		<div class="container">
		  	<div class="sixteen columns">
			    <div class="one-third column alpha">
			      	<div class="nav">
			      		<%= render 'layouts/logo' %>
			        	<div id="postswrapper">
			        		<% @entries = Micropost.all.paginate(:page => params[:page], :per_page => 6) %>
			        			<%= render @entries %>
			        	</div>
			      	</div>
			      		<%= paginate @entries %>
			    </div>

			    <div class="two-thirds column omega">
				    <div class="yield">

				      	<% flash.each do |key, value| %>
		        			<div class="alert alert-<%= key %>"><%= value %></div>
		      			<% end %>

				      	<%= yield %>

				    </div>
			    </div>
		 	</div>

		 	<div class="footer">
		 		<%= render 'layouts/footer' %>
			</div>	

		</div>
	</body>
</html>
