<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
	<div class="container">
	  <div class="sixteen columns">
	    <div class="one-third column alpha">
	      <div class="nav">
	      	<%= render 'layouts/logo' %>
	        <div class="entryList">
	        </div>
	      </div>
	    </div>

	    <div class="two-thirds column omega">
	      <div class="article">
	      	<%= yield %>
	      </div>
	    </div>
	  </div>
	</div>
	</body>
</html>
